#langchain

langchain
langchain-core
langchain_community

# OpenAI Integration
langchain-openai
openai

# Environment Variable Management
python-dotenv

# backend Framework 
fastapi
uvicorn
gunicorn



